body {
  background-image: url("/pic/BG2.jpg");
  background-repeat: no-repeat;
  font-family: "Sedgwick Ave Display";
  background-position: center;
  background-size: cover;
  position: relative;
}

.container {
  width: 500px;
  height: 90vh;
  margin-top: 20px;
  float: right;
  margin-right: 70px;
  background-color: rgba(233, 196, 148, 0.59);
  box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.094);
  border-radius: 7px;
}

img {
  float: left;
  margin-top: 110px;
  margin-left: 80px;
}

h1 {
  text-align: center;
  width: 90%;
}

.form {
  margin-left: 20px;
  display: block;
}

label {
  font-weight: bold;
}

input,
select,
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  display: inherit;
}

textarea {
  width: 475px;
  height: 225px;
}

a {
  background-color: #fff;
  padding-top: 22px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.555);

}

svg {
  padding-top: 8px;
}

.input {
  text-align: center;
  margin-top: 25px;
  padding: 0 8px 0 8px;
}

footer {
  position: absolute;
  bottom: 0;
  right: 50%;
  color: #ffffff;
}

.center {
  display: flex;
  font-size: 14px;
}

.submit:hover {
  background-color: rgb(37, 37, 37);
  transition: all .4s;
}

.icon:hover {
  fill: #fff;
  transition: all .5s;
}

.collage {
  box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.094);

}

.collage:hover {
  transform: scale(1.02);
  transition: all .5s;
}